.sidebar-button {
    -fx-background-color: transparent;
    -fx-max-width: Infinity;
    -fx-font-size: 16;
}

.sidebar-button:selected {
    -fx-background-color: #FADEDE;
}

.sidebar {
    -fx-background-color: #F9F9F9;
    -fx-min-width: 200;
    -fx-border-color: #E4E4E4;
}

.sidebar-element {
    -fx-border-color: #E4E4E4;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
}

.popupTitel {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.popupContainer {
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.inputField {
    -fx-background-color: #F3F3F5;
    -fx-max-width: 600;
}

.confirmButton {
    -fx-background-color: #396BDA;
    -fx-text-fill: white;
    -fx-padding: 5 10 5 10;
}

.cancelButton {
    -fx-background-color: #E3E3E3;
    -fx-padding: 5 10 5 10;
}

.confirmButton:hover {
    -fx-background-color: #5A82E0;
    -fx-cursor: hand;
}

.cancelButton:hover {
    -fx-background-color: #D0D0D0;
    -fx-cursor: hand;
}

.error {
    -fx-text-fill: red;
}

.subTitel {
    -fx-font-size: 17;
    -fx-font-weight: bold;
}

.sectieTitel {
    -fx-font-size: 13;
    -fx-font-weight: bold;
}

.sectieInfo {
    -fx-font-size: 13;
    -fx-text-fill: #737373;
}

/* LIST */

.list-view {
   -fx-background-color: white;
    -fx-border-color: transparent;
}

.list-view .viewport {
    -fx-background-color: transparent;
}
.list-cell {
    -fx-padding: 3 0 3 0;
    -fx-font-size: 13;
    -fx-text-fill: #737373;
    -fx-background-color: transparent;
}

.list-cell:selected {
    -fx-background-color: #EEF3FC;
    -fx-text-fill: #333;
}

.list-cell:empty {
    -fx-background-color: transparent;
}

.list-cell:filled {
    -fx-border-color: transparent;
}

.list-cell:selected:filled {
    -fx-background-color: #EEF3FC;
    -fx-text-fill: #333333;
}

.list-cell:odd {
    -fx-background-color: white;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:hover {
    -fx-background-color: #fafafa;
}


/* TABLE */

.table {
    -fx-background-color: white;
    -fx-border-color: #e5e5e5;
    -fx-border-width: 0, 1, 0, 1;
    -fx-padding: 0;
}

.table .column-header-background {
    -fx-background-color: white;
    -fx-border-color: #e5e5e5;
    -fx-border-width: 0 0 1 0;
}

.table .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-size: 40;
}

.table .column-header .label {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.table .filler {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table .corner {
    -fx-background-color: transparent;
}

.table .table-row-cell {
    -fx-background-color: white;
    -fx-border-color: #e5e5e5;
    -fx-border-width: 0 0 1 0;
    -fx-cell-size: 45;
}

.table .table-row-cell:hover {
    -fx-background-color: #fafafa;
}

.table .table-row-cell:selected {
    -fx-background-color: #EEF3FC;
}

.table .table-row-cell:selected .table-cell {
    -fx-text-fill: #333;
}

.table .table-cell {
    -fx-padding: 0 15 0 15;
    -fx-text-fill: #333333;
    -fx-font-size: 13;
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
}

.table .placeholder .label {
    -fx-padding: 20 0 0 0;
}